@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: 'Inter', sans-serif;
  }
  body {
    @apply bg-gradient-to-t  from-[#A40010] to-[#000000];
  }
}

/* body {

  background: linear-gradient(180deg, rgba(206, 0, 20, 0) 0%, #A40010 20.46%, #000000 100%);
  background-repeat: repeat;
} */